.company_data {
    font-size: 15px;
    text-align: left;
    width: 30%;
    tr {
        border: 1px solid black;
    }
    
}

.report_data {
    font-size: 17px;
    width: 50%;
    .book_title {
        font-size: 20px;
        font-weight: bold;
    }
    tr {
       border: 1px solid black; 
    }

}

.tbl_book {
    border: 1px solid black;
    font-size: 13px;
}

center {
    div {
        font-weight: bold;
        font-size: 15px;
    }
    h5 {
        font-weight: bold;
        padding-bottom: 10px;
    }
}