[submodule "KonosCL/addons-konos"]
	path = KonosCL/addons-konos
	url = git@github.com:KonosCL/addons-konos.git
	branch = 12.0
[submodule "stock_intercompany_moves"]
	path = stock_intercompany_moves
	url = git@github.com:MobilizeDevTeam/stock_intercompany_moves.git
	branch = 12.0
[submodule "stock_requisitions"]
	path = stock_requisitions
	url = git@github.com:MobilizeDevTeam/stock_requisitions.git
	branch = 12.0
[submodule "mblz_la_invernada"]
	path = mblz_la_invernada
	url = git@github.com:MobilizeDevTeam/mblz_la_invernada.git
	branch = 14.0
