.pos .buttons_pane {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    right: 220px;
    top: 5px;
    width: 220px;
    border-right: none;
}

.pos .button-list {
    text-align: left;
}

.table-popup {
    width: 90%;
    margin: 20px;
    text-align: left;
}

.table-popup td{
    padding: 5px;
    font-size: 16px;
    font-weight: normal;
}

.pos .popup .pos-popup-box{
	margin-left: 20px;
	margin-right: 20px;
}

.pos .popup .pos-group-left{
    width: 50%;
    float: left;
}

.pos .popup .pos-group-right{
    width: 50%;
    float: right;
}

.pos .popup .pos-row{
    line-height: 24px;
    text-align: left;
    margin-top: 10px;
}

.popup-label{
    font-weight: bold;
    display: inline-block;
    width: 30%;
    margin-right: 8px;
}

.small{
	font-size: 11px;
	vertical-align: super;
}

.pos .popup input,
.pos .popup select {
	width: 65%;
    padding: 4px;
    border: solid 1px #cecbcb;
    margin-bottom: 4px;
    font-size: 14px;
    min-height: 30px;
}

.pos .popup input[type="radio"]{
	width: 20px;
	min-height: 15px;
}

.pos .popup input.detail-edit, 
.pos .popup select.detail-edit{
    background: white;
}

.pos .popup input.detail-readonly, 
.pos .popup select.detail-readonly{
    background: #F0EEEE;
}

.pos .popup input.detail-required,
.pos .popup select.detail-required {
    border: 2px solid #666666;
}

.field_invalid {
    color: #dc6965 !important;
    border-color: #dc6965 !important;
}
